[Unit]
Description=Optune Servo Linux service controller script
After=network.target nss-lookup.target

[Service]
WorkingDirectory=/opt/optune/servo-tomcat
ExecStart=/usr/bin/python3 -u servo --auth-token optune-auth-token --account $OPTUNE_ACCOUNT $OPTUNE_APP_ID
EnvironmentFile=/opt/optune/servo-tomcat/servo.cfg
TimeoutSec=5
Type=simple

[Install]
WantedBy=multi-user.target

